includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 9
    paths:
        - src/

    # Prevent false positives on PHPDoc types
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - tests/

    ignoreErrors:
        # Ignore custom builder method like initializer()
        - '#.*::initializer\(\)#'

        # Ignore "is used zero times" (if it appears)
        - '#is used zero times#'
