includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 9
    paths:
        - src/
        - tests/TestSetup

    # Prevent false positives on PHPDoc types
    treatPhpDocTypesAsCertain: false

    excludePaths:

    ignoreErrors:
        # Ignore custom builder method like initializer()
        - '#.*::initializer\(\)#'
        
        # Ignore custom builder method like paginates()
        - '#.*::paginates\(\)#'
        
        # Ignore custom builder method like likeWhere()
        - '#.*::likeWhere\(\)#'
